{% extends 'base.html.twig' %}


{% block body %}

 <h1>Listado de clientes<h1>

	<ul>
	    {% for cliente in clientes %}
	        <li>{{ cliente.nombre }} - {{ cliente.direccion }} - {{ cliente.cp }} - {{ cliente.ciudad }} </li>
	    {% endfor %}
	</ul>
	<a href=" {{ path('cliente_nuevo')}}">Añadir cliente</a>

{% endblock %}
