{% extends 'base.html.twig' %}


{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('build/appstyle.css') }}">
{% endblock %}

{% block body %}


	<h1>Listado de productos</h1>

	<ul>
	    {% for producto in vectorproductos %}
	        <li>{{ producto.nombre }} - {{ producto.precio }} - {{ producto.categoria.nombre }} {#{{ dump(producto.categoria) }}#}
	        </li>
	    {% endfor %}
	</ul>

	{#{{ dump(vectorproductos) }}#}
	
	
	<a href=" {{ path('producto_nuevo')}}">Añadir producto</a>
	<a href=" {{ path('categoria_lista')}}">Lista de categorias</a><br>
	<button type="button" class="btn btn-info">Info</button>
	<button type="button" class="btn btn-info">Danger</button>

{% endblock %}

{% block javascripts %}

<script src="{{ asset('build/app.js') }}"></script>

{% endblock %}