{% extends 'base.html.twig' %}



{% block body %}


	<h1>Listado de productos</h1>

	<ul>
	    {% for producto in vectorproductos %}
	        <li>{{ producto.nombre }} - {{ producto.precio }} - {{ producto.categoria.nombre }} {{ dump(producto.categoria) }}</li>
	    {% endfor %}
	</ul>

	{{ dump(vectorproductos) }}
	
	
	<a href=" {{ path('producto_nuevo')}}">Añadir producto</a>
	<a href=" {{ path('categoria_lista')}}">Lista de categorias</a>
	}

{% endblock %}
