{% extends 'base.html.twig' %}



{% block body %}


	<h1>Listado de explotaciones</h1>

	<ul>
	    {% for explotacion in vectorexplotaciones %}
	        <li>{{ explotacion.latitud }} - {{ explotacion.longitud }} - {{ explotacion.propietario }} - {{ explotacion.numanimales }} </li>
	    {% endfor %}
	</ul>
	<a href=" {{ path('explotacion_nuevo')}}">Añadir explotacion</a>


{% endblock %}
